@import 'font-awesome/less/font-awesome.less';
@import (css, inline) 'bulma/css/bulma.css';
@import 'helpers';


html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: system-ui, 'Helvetica Neue', arial, sans-serif;
	background: @background;
	color: #333;
}

* {
	box-sizing: border-box;
}

.hero.is-primary {
	background-color: @primary;
}
.button.is-primary {
	&, &:hover, &:focus {
		background-color: @primary;
	}
	&.is-inverted {
		&, &:hover, &:focus {
			color: @primary;
		}
	}
	&.is-inverted.is-outlined {
		&:hover, &:focus {
			color: @primary;
		}
	}
	&:hover {
		opacity: 0.9;
	}
}
.nav-item a, a.nav-item {
	&.is-tab {
		&:hover, &:focus {
			border-bottom-color: @primary;
		}
		&.is-active {
			border-bottom-color: @primary;
			color: @primary;
		}
	}
}
a {
	color: @primary;
}

[hidden] {
	display: none;
}

.button {
	outline: none !important;
	box-shadow: none !important;

	&.is-text {
		text-decoration: none;
	}
}

#app {
	height: 100%;

	> .nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}

	> main {
		padding: 3.5rem 0 0;
		min-height: 100%;
		width: 100%;
	}
}

.nav-left {
	float: left;
	flex: none;
}
.nav-center {
	flex-grow: 1;
	@media (max-width:300px) {
		display: none;
	}
}
.nav-right {
	float: right;
	flex: none;
	// white-space: nowrap;
}

.box.is-centered {
	margin: 20px auto;
	max-width: 700px;

	@media (max-width: 740px) {
		margin: 20px;
	}
}

.is-notification {
	.media-content {
		padding: 2px 0;
	}

	.icon.is-badge {
		position: relative;
		left: -5px;
		font-size: 1em;
		color: #999;
	}
}

.posts {
	min-height: 240px;
}

.post {
	position: relative;
	max-width: 100%;
	overflow: visible;

	> .media {
		position: relative;
	}

	.count {
		display: inline-block;
		min-width: 1em;
		&:empty {
			display: none;
		}
	}

	&.is-selected:before {
		content: '';
		box-sizing: content-box;
		display: block;
		position: absolute;
		left: -6px;
		top: -1px;
		height: 100%;
		width: 100%;
		padding: 1px 6px;
		background: none;
		box-shadow: 0 0 3px #85dfd2, inset 0 0 0 1px #85dfd2;
		border-radius: 5px;
	}

	.media-left {
		margin: 5px .5rem 0 0;
	}

	&.is-edit .media-left {
		margin: 0 .5rem 0 0;
	}

	.media-content {
		position: relative;
		overflow: hidden;
	}

	.post-text {
		max-width: 100%;
		font-size: 16px;
		line-height: 1.25;
		white-space: pre-line;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	// comments are small and not dynamically text sized
	.is-comment .post-text {
		font-size: 100%;
	}

	.media & {
		font-size: 85%;
		.post-text, .button {
			font-size: 100%;
		}
	}

	.post-media-item {
		display: block;
		margin: 10px 0 0;
	}

	.media-right {
		position: absolute;
		right: -8px;
		top: -4px;
		overflow: visible;

		.menu {
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
			// right: 0;
			// top: 100%;
			padding: 10px 0;
			animation: menuOpen @animation-time cubic-bezier(0,1,.2,1.1) forwards 1;
			// transform-origin: 100% 0%;
			transform-origin: 100% 50%;
			z-index: 20;

			@keyframes menuOpen {
				from { opacity: 0; transform: translateY(-50%) scale(.01); }
			}

			hr {
				margin: 0;
			}

			a {
				padding: 10px 30px;
				white-space: nowrap;
				border-radius: 0;
				margin: 0 -1px;

				&:hover {
					background-color: @primary;
					color: #fff;
				}

				&.is-danger {
					color: #ff3860;
					&:hover {
						color: #fff;
						background-color: #ff3860;
					}
				}
			}
		}
	}

	+ .post {
		border-top: 1px solid rgba(219, 219, 219, 0.5);
		margin-top: 1rem;
		padding-top: 1rem;
	}

	.post-comments + .compose {
		margin-top: 20px;
	}
}

.post-compose-top {
	background-color: #FAFAFA;
}

.compose {
	.post-cancel {
		margin-right: 5px;
	}

	.compose-images {
		// margin: 0 0 -16px;

		.image {
			position: relative;
			top: -9px;
			margin: 0 5px -16px 0;
			float: left;
			border: 2px solid #EEE;
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			cursor: pointer;
		}
		img {
			border-radius: 3px;
		}
		.delete {
			position: absolute;
			right: 1px;
			top: 1px;
		}
	}
}

.textarea.is-post-editor {
	min-height: 0;
	resize: none;
}

.char-count {
	position: absolute;
	right: 4px;
	bottom: 3px;
	z-index: 2;
	pointer-events: none;
	font-size: 80%;
	opacity: 0.8;
	color: #888;
	&.is-close {
		color: #cb912f;
	}
	&.is-over {
		font-weight: bold;
		color: #ff3860;
		animation: bump @animation-time ease forwards 1;
		@keyframes bump {
			50% { transform: scale(1.4); }
		}
	}
}

.modal {
	> .modal-background {
		animation: fadeIn @animation-time ease forwards 1;
		@keyframes fadeIn {
			from { opacity: 0; }
		}
	}

	> .modal-card,
	> .modal-content {
		animation: jumpIn @animation-time cubic-bezier(0,1,.2,1.1) forwards 1;
		transform-origin: 50%;
		@keyframes jumpIn {
			from { opacity: 0; transform: scale(.1); }
		}
	}

	&.is-top {
		align-items: baseline;

		> .modal-background {
			background-color: rgba(50,50,50,0.7);
		}

		> .modal-card,
		> .modal-content {
			// overflow: visible;
			overflow: auto;
			margin-top: 40px;
			max-height: calc(~'100vh - 80px');
			transform-origin: 50% 150%;
		}

		> .modal-card,
		> .modal-content > .box {
			box-shadow: 0 5px 20px rgba(0,0,0,0.4);
		}

		.modal-card-head,
		.modal-card-foot {
			padding: 10px 20px;
		}

		.modal-card-title {
			text-align: center;
			font-size: 120%;
		}
	}

	&.is-image-viewer {
		.modal-content {
			max-height: 100%;
			height: 95%;
			height: calc(~'100vh - 60px');

			&.is-loading img {
				visibility: hidden;
			}

			img {
				display: block;
				position: relative;
				top: 50%;
				max-width: 100%;
				max-height: 100%;
				margin: auto;
				transform: translateY(-50%);
			}

			.is-overlay {
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.orientation-portrait img {
				height: 100%;
			}

			&.orientation-landscape img {
				width: 100%;
			}

			.is-spinner {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: rgba(255,255,255,0.2);
			}
		}
	}
}

.is-avatar {
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
}


.page {
	.hero .pull-left {
		margin-right: 20px;
	}

	> .container {
		padding: 20px;
	}

	.loading {
		padding: 80px 0;

		.icon {
			opacity: 0.3;
		}
	}

	.no-results {
		padding: 70px;
	}

	.column:first-child {
		padding-right: 0;
	}

	.sidebar {
		width: 200px;
		padding: 20px 10px;
		background: #FAFAFA;
		border-radius: 5px;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

		h3 {
			margin-bottom: 0;
		}

		.bio {
			margin-top: 12px;
			padding-top: 10px;
			border-top: 1px solid #E9E9E9;
			font-size: 100%;
			color: #777;

			&:empty { display: none; }
		}
	}
}


.profile .users {
	margin: 0 -5px;
}
.user {
	display: inline-block;
	// margin-left: .75em;
	// margin-right: .75em;
	width: 50%;
	vertical-align: top;
	padding: 0 5px 10px;
	// min-width: 33.3%;
	// max-width: 50%;

	.box {
		height: 130px;
		padding: 10px;
	}

	@media (min-width: 900px) {
		width: 33%;
	}

	.is-pulled-left {
		margin-right: 5px;
	}

	.title {
		margin: 5px 0 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.subtitle {
		margin: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.bio {
		padding: 5px 0 0;
		clear: both;
		// line-height: 1.1;
		font-size: 90%;
		color: #777;
	}
}


.profile {
	&.loading {
		opacity: 0.3;
		transition: opacity 150ms ease;
	}

	.hero {
		&.is-dark {
			text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		}
		&.is-light {
			text-shadow: 0 1px 1px rgba(255,255,255,0.3);
		}

		.hero-body {
			padding: 1.5rem;
		}

		.container {
			max-width: 1092px;
			overflow: hidden;
		}

		.is-avatar {
			box-shadow: 0 1px 2px rgba(0,0,0,0.3);
			margin: 3px;
		}

		.pull-right {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	span.is-inline-edit {
		display: inline-block;
		padding: 3px;
	}

	.is-inline-edit {
		input, textarea {
			margin: 0;
			padding: 2px;
			font-size: 100%;
			font: inherit;
			height: auto;
			line-height: inherit;
		}
	}

	.has-space-above {
		margin-top: 10px;
	}

	.is-color-picker {
		 overflow: hidden;

		 select {
			 pointer-events: none;
			 speak: none;
		 }

		 .color-preview {
			 position: absolute;
			 display: block;
			 right: 30px;
			 top: 50%;
			 width: 20px;
			 height: 20px;
			 margin: -12px 0 0;
			 border-radius: 50%;
			 z-index: 1;
		 }

		 input {
			 position: absolute;
			 top: 0;
			 left: 0;
			 width: 100%;
			 height: 100%;
			 opacity: 0.01;
			 cursor: pointer;
			 background: rgba(0,0,0,0);
			 border: none;
			 z-index: 2;
			 -webkit-appearance: none;
		 }
	}
}



@media (max-width: 480px) {
	.modal {
		> .modal-close,
		.modal-card-head .delete {
			position: fixed;
			right: 3px;
			top: 2px;
			background: #000;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			z-index: 10;
			opacity: 0.5;
		}

		> .modal-card,
		> .modal-content {
			transform-origin: 50% 50% !important;
			transform: none !important;
			margin: 0 !important;
			height: 100%;
			max-height: none !important;

			> .box {
				height: 100%;
				overflow: auto;
				padding: 40px 10px 30px;
				border-radius: 0;
				box-shadow: 0;
			}

			.modal-card-head {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			.modal-card-body {
				flex: 1 0;
			}

			.is-post-editor {
				min-height: 100px;
			}
		}

		.is-modal .is-post-editor {
			height: calc(~'100vh - 114px') !important;
		}
	}

	.page > .container {
		padding: 0;

		> .columns {
			margin: 0;

			> .column {
				padding: 0;

				> .users {
					padding: 10px;
				}

				> .box {
					border: none;
					border-radius: 0;
					box-shadow: none;
				}
			}
		}
	}

	.profile .hero .tabs .is-tab.is-active,
	.profile .hero .tabs .is-tab.is-active {
		a {
			background-color: #f4f4f4 !important;
			border-color: #f4f4f4 !important;
			color: black !important;
		}

		&:first-child a,
		&:nth-child(2) a {
			background-color: #fff !important;
			border-color: #fff !important;
		}
	}

	.profile .hero .tabs .is-tab:first-child.is-active a,
	.profile .hero .tabs .is-tab:nth-child(2).is-active a {
		background-color: #fff !important;
		border-color: #fff !important;
		color: black !important;
	}

	.page {
		> .box {
			margin: 0;
			padding: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;

			&, .infinite-page {
				> .post,
				> .media {
					margin: 0;
					padding: 10px;
				}
			}
		}

		> .post-compose-top {
			padding: 5px 0 0;
			border-bottom: 1px solid #CCC;
		}
	}
}
